/* Global */

* {
  margin: 0;
  font-family: arial;
  font-size: 13px;
}


/* Header */

.header-c {
  display: flex;
  justify-content: flex-end;
}

.nav-bar {
  margin-right: 17px;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar .nav {
  margin: 15px 10px;
  display: inline-block;
}

.nav-bar img {
  width: 16px;
}

.sign-in button {
  background-color: #4285f4;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  border: none;
  border-radius: 2px;
}

/* Main */

.main-c {
  border: 1px solid black;
}